@font-face {
  font-family: ZenKakuGothicNew-Regular;
  src: url(/assets/font/ZenKakuGothicNew-Regular.ttf);
}
@font-face {
  font-family: ZenKakuGothicNew-Light;
  src: url(/assets/font/ZenKakuGothicNew-Light.ttf);
}
@font-face {
  font-family: ZenKakuGothicNew-Medium;
  src: url(/assets/font/ZenKakuGothicNew-Medium.ttf);
}
@font-face {
  font-family: ZenKakuGothicNew-Bold;
  src: url(/assets/font/ZenKakuGothicNew-Bold.ttf);
}
@font-face {
  font-family: ZenKakuGothicNew-Black;
  src: url(/assets/font/ZenKakuGothicNew-Black.ttf);
}
body, html {
  background-color: #040404;
  color: #ffffff;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  font-size: 18px;
  font-family: ZenKakuGothicNew-Regular;
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #7c7baa;
  text-decoration: underline;
}

h1 {
  font-family: ZenKakuGothicNew-Black;
  font-size: 40px;
}

h2 {
  font-family: ZenKakuGothicNew-Black;
  font-size: 30px;
}

h3 {
  font-family: ZenKakuGothicNew-Bold;
  font-size: 25px;
}

h4 {
  font-family: ZenKakuGothicNew-Bold;
}

h5 {
  font-family: ZenKakuGothicNew-Medium;
}

h6 {
  font-family: ZenKakuGothicNew-Medium;
}

hr {
  width: 75%;
  border: 1px solid #cacace;
}

section {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero_img {
  height: 100vh;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  padding: 36px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

b {
  font-weight: 800;
}

.video_big {
  display: block;
}

.video_medium {
  display: none;
}

.video_small {
  display: none;
}

.services {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service {
  height: 27px;
  padding: 9px;
  color: #cacace;
  cursor: pointer;
}
.service:hover {
  color: #7c7baa;
}

.person {
  width: calc(50% - 18px);
  display: flex;
  align-items: center;
}

.persons {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.personimg {
  width: 300px;
}

.download-btn {
  background-color: #ffffff;
  color: white;
  border: none;
  height: 54px;
  width: 126px;
  font-size: 18px;
  font-family: ZenKakuGothicNew-Regular;
  cursor: pointer;
}
.download-btn a {
  color: #040404;
}
.download-btn:hover {
  background-color: #7c7baa;
  text-decoration: none;
}

footer {
  height: 300px;
  background-color: #040404;
  color: #ffffff;
  height: 200px;
  padding-top: 9px;
  padding: 18px;
  border-top: 2px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
}

.links {
  flex-direction: column;
  flex-wrap: nowrap;
}
.links a {
  color: #cacace;
  text-decoration: none;
  padding: 4.5px;
}
.links a:hover {
  text-decoration: underline;
  color: #7c7baa;
}
.links p a {
  color: #ffffff;
}
.links p a:hover {
  color: #ffffff;
}

.social_media {
  justify-content: end;
  flex-wrap: nowrap;
}

.back {
  padding-top: 18px;
}

.cookie {
  height: 100%;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cookie div {
  background-color: #ffffff;
  color: #040404;
  padding: 36px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
}
.cookie div a {
  color: #040404;
}
.cookie div button {
  border: none;
  background-color: #040404;
  color: #ffffff;
  padding: 18px;
  font-family: ZenKakuGothicNew-Regular;
  font-size: 18px;
  padding-top: 18px;
  cursor: pointer;
}
.cookie div button:hover {
  background-color: #7c7baa;
  color: #040404;
}

.cookielinks {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

@media (max-width: 1100px) {
  .person {
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .hero {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .hero_img {
    height: auto;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 900px) {
  .cookie div {
    flex-wrap: wrap;
  }
  .video_big {
    display: none;
  }
  .video_medium {
    display: block;
  }
  .persons {
    flex-direction: column;
  }
  footer {
    height: 400px;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .video_big {
    display: none;
  }
  .video_medium {
    display: none;
  }
  .video_small {
    display: block;
  }
  .social-media {
    flex-wrap: wrap;
  }
}
@media (max-width: 400px) {
  .cookielinks {
    flex-direction: column;
  }
  footer {
    height: 500px;
  }
}/*# sourceMappingURL=style.css.map */